.room-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 130px;
    height: 44px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.room-button:hover{
    background-color:#7132fd;
    border: 1px solid #7132fd;
}

.room-button.selected{
    background-color:#7132fd;
    border: 1px solid #7132fd;
    box-shadow: 0 0 10px #7132fd;
}

.room-button:focus{
    outline: none;
}

.primary-btn{
    background-color:#7132fd;
    border: 1px solid #7132fd;
    color: white;
    width: 140px;
    height: 48px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover{
    filter: brightness(1.1);
    box-shadow: 0 0 12px #7132fd;
}

.secondary-btn{
    background-color: transparent;
    border: 1px solid #7132fd;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.secondary-btn:hover{
    background-color:#7132fd;
    box-shadow: 0 0 10px #7132fd;
}

.secondary-btn[stopped="true"] {
     background-color: #7132fd;
}

.secondary-btn[stopped="false"] {
     background-color: #5001f800;
}
